:root{ 
  --web-font-base: 1rem;
  --web-font-min: 0.8rem;

  --web-font-p: 1.9rem;
  --web-font-p-s: 1.5rem;
  --web-font-theme: 1.5rem;

  --web-font-14: 1.1rem;
  --web-font-18: 1.3rem;
  --web-font-24: 1.5rem;
  --web-font-26: 1.7rem;
  --web-font-30: 1.9rem;

  --web-font-h3: 1.5rem;
  --web-font-h2: 1.7rem;
  --web-font-h1: 2rem;

  --web-gris: #f0f0f0;
  --web-black: #000000;
  --web-white: #FFFFFF;
  --web-blue: #3c55ff;
  
  --web-select-text: #3c55ff;
  --web-select-bg: #55164f;

  --font-titles: "IntegralCF";
  --font-defautl: "Satoshi";
  --font-theme: 'Plus Jakarta Sans', sans-serif;
}

// [Padding]
$paddingWebSm: 1.5rem;
$paddingWebMd: 2rem;
// [animation]
$timeAnimation: .4s;

$breakpoints: (
  sm: default,
  md: 48rem,
  lg: 64rem
);

@mixin media-up($breakpoint) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}
*{
  box-sizing: border-box;
}
// [Content]
.container_web{
  margin: auto;
  padding: 0 $paddingWebSm;

  @include media-up(md){
    padding: 0 $paddingWebMd;
    max-width: 70rem;
  }

  @include media-up(lg){
    max-width: 90rem;
  }
}

// [Refactor]
::selection {
  background: var(--web-select-bg);
  color: var(--web-select-text);
}
// [Tools]
.zoom{
  transition: transform .5s;

  &:hover{
    transform: scale(1.1);
  }
}

// [WEB]
body{
  font-family: var(--font-theme);
  color: var(--web-blue);
}
a{
  color: var(--web-blue);
}

.home{
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;

  .web{

    .logo{
      display: block;
      margin: 0 auto;
      width: 60%;
      max-width: 23rem;
    }
    h1{
      font-family: var(--font-titles);
      margin: 1rem 0;
      font-size: 54px;
      line-height: 46px;
      margin-bottom: 2rem;

      transition: font-size $timeAnimation ease;

      @include media-up(md){
        margin: 1rem 0;
        font-size: 151px;
        line-height: 118px;
        margin-bottom: 3rem;
      }
    }
    p{
      display: block;
      padding-left: 1rem;
      font-size: 24px;
      margin-bottom: 2rem;

      @include media-up(md){
        margin-bottom: 6rem;
        padding-left: 2rem;
        font-size: 30px;
      }

      .arrow{
        display: inline-block;
        padding: 2px 10px 0 10px;
      }
      span{
        text-align: right;
        display: block;

        @include media-up(md){
          text-align: left;
          display: inline-block;
        }

        a{
          text-decoration: none;
          font-size: 3rem;
          padding-left: 5px;
        }
      }
    }
  }

  .footer{
    display: flex;
    flex-direction: column;
    gap: .5rem;

    @include media-up(md){
      flex-direction: row;
      width: 50%;
      margin: 0 auto;
    }

    .input{
      flex: 1;
      

      input{
        padding: 0 1rem;
        width: 100%;
        outline: none;
        border: 0;
        background-color: var(--web-gris);
        height: 40px;
        border-radius: 10px;
        font-family: 'Plus Jakarta Sans', sans-serif;

        &:focus{
          outline: none;
        }
      }
    }

    .button{
      button{
        border: 0;
        border-radius: 10px;
        width: 100%;
        color: var(--web-white);
        background-color: var(--web-blue);
        height: 40px;
        padding: 0 40px;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 1rem;
      }
    }
  }
}