<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{>partials/favicon}}
  <title>Home | Krown</title>
</head>
<body>
  <section>
    <div class="container_web">
      <div class="home">
        {{!-- web --}}
        <div class="web">
          <img src="assets/img/logo.svg" class="logo"/>
          <h1>great things take time</h1>
          <p>
            in the meanwhile you can follow us
            <img src="./assets/img/arrow.svg" width="50px" class="arrow">
            <span>
              <a href="https://www.behance.net/krowncreates" target="_follow">
                <i class="fa-brands fa-square-behance zoom"></i>
              </a>
              <a href="https://www.instagram.com/krown.creates/" target="_follow">
                <i class="fa-brands fa-instagram zoom"></i>
              </a>
              <a href="https://github.com/krown-one" target="_follow">
                <i class="fa-brands fa-github zoom"></i>
              </a>
            </span>
          </p>
        </div>
        {{!-- footer --}}
        <div class="footer">
          <div class="input">
            
              <input type="text"/>
           
          </div>
          <div class="button">
            <button>contact me</button>
          </div>
        </div>
      </div>

    </div>
  </section>
</body>
</html>